/* This is the start of the blog styles */

/* Body styles */
body {
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
}


/* Paragraph styles*/
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}


/* h2 styles */
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
    color: #2c3e50;
    padding-left: 15px;
}


/* hr styles */
hr {
    width: 80%;

}


/* Date styles */
.dates {
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 2px;
    padding-left: 15px;
    
}


/* Div container styles */
div {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
}


/* First line styles */
.first-line {
    padding-left: 10px;
    border-left: 5px solid #bdc3c7;
}
