/* This is the start of the blog styles */

/* Body styles */
body {
    width: 50%;
    margin: auto;
    border: 20px solid #bdc3c7;
}

div {
    text-align: left;
    padding-left: 15px;
    line-height: 1.5;
}

.first-line {
    border-left: 6px solid #bdc3c7;
}

